<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id = "app">
      <!--
        And this is how I make a comment!
      -->
      <p v-if="characterList.length === 0">This is the empty state - there are no characters</p>
      <ul v-else>
        <li v-for="(character, index) in characterList">{{ character.name }}'s Index is {{index}}</li>
      </ul>
    </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({ //different syntax to do the same thing as in the playground
        data: () => ({
          characterList: [
            {name: 'Aang'},{name:'Zuko'},{name: 'Toph'},{name: 'Katara'}
          ]
        })
      }).mount('#app')
    </script>

  </body>
</html>
