<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <h1>
      Vue Workshop
    </h1>
    <div id="app">
      <p v-if="message.length % 2 === 0">Even: {{message.toUpperCase()}}</p>
      <p v-else>Odd: {{message}}</p>
      <ul>
        <li v-for="number in listOfNumbers">{{number}}</li>
      </ul>
      <hr>
      <h1>Counter</h1>
      <p>{{ count }}</p>
      <button v-on:click="incrementCount(10, $event)">Increment Count</button><!--This calls the reference to the function, which will be executed later. This is why it isn't called now-->
      <div>
        <label for="incrementCount">Increment by:</label>
        <input type="number" v-model="incrementAmount" />
        <!-- 
        These used to be on the input, but were replaced by the v-model  
        v-bind:value="incrementAmount"
        v-on:input="changeIncrementAmount" 
        -->
    </div>
    </div>
    <script>
      // Vue 3
      const { createApp } = Vue // this allows for more modularity than the Vue 2's approach

      // Vue 2
      // new Vue()

      const app = createApp({
        data () { //this gives a data property on the app object, and as a function causes updating on data changes; 'data' is a reserved keyword for this state data
          return {
            message: 'It works',
            count: 0,
            incrementAmount: 4,
            listOfNumbers: [1,2,3,4]
          }
        },
        methods: {
          incrementCount(number, event) {
            //count++ is not going to work because of SCOPING! It doesn't know where to fetch this count variable
            this.count += this.incrementAmount // can think of 'this' as referring to the App's configuration object
            console.log('number', number, ', event', event)
          },
          // function below no longer needed, thanks to v-model's under the hood work
          // changeIncrementAmount (event) {
          //   this.incrementAmount = Number(event.target.value)
          // }
        }
      })

      app.mount('#app') //tells Vue where to actually put the app, using the div id
    </script>
  </body>
</html>
